[submodule "3rdParty/QEngineUtilities"]
	path = 3rdParty/QEngineUtilities
	url = https://github.com/Italink/QEngineUtilities.git
[submodule "3rdParty/QWindowKit"]
	path = 3rdParty/QWindowKit
	url = https://github.com/stdware/qwindowkit.git
